.white-key {
  position:default;
  border: black solid 1px;
  height: 140px;
  width: 30px;
  float:left;
  border-radius:0 0 2px 4px;
}

.white-key:active {
  background: #f4f3f3;
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

.whiteOnKey {
  background: #f4f3f3;
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}


.black-key {
  float:left;
  position:relative;
  height:110px;
  width: 12px;
  border-width:1px 2px 9px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  box-shadow:inset 0px -1px 2px rgba(255,255,255,.9),0 2px 3px rgba(0,0,0,0.6);
  border-radius:0 0 2px 2px;
  margin:0 -9px 0 -9px;
  background: black;
}

.black-key:active {
  border-bottom-width:2px;
  height:115px;
}

.blackOnKey {
  border-bottom-width:2px;
  height:115px;
}

.drums {
  float:right;
  width:400px;
}

#snare1 {
  float: left;
  height:25px;
  width:40px;
  border: black solid 1px;
  border-radius:40px/25px;
}

#snareRside {
  margin: 16px 40px;
  height: 15px;
  border: black solid 1px;
}

#snareBottom {
  margin: 200px 40px;
  height: 15px;
  border: black solid 1px;
}